<nav class="nav navbar nav-pills navbar-expand-sm">
    
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/tasks" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/task-search">Filter/Search</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/add-delete-task">Add/Delete</a>
    <!-- <a class="nav-item nav-link" routerLinkActive="active" routerLink="/select-view-task">Select/View</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/update-task">Update</a> -->
  </nav>


  

