

<form class="form-signin" [formGroup]="registrationForm" (ngSubmit)="onSubmit(f)" #f=ngForm >
  <div class="form container">

    <div class="form-group">
      <!-- {{ registrationForm.get('username').errors | json }} -->
      <label>Username</label> <br>
      <input class="form-control" formControlName="username">
      <p *ngIf="registrationForm.get('username').hasError('required') && f.submitted">username required</p>
      <p *ngIf="registrationForm.get('username').hasError('minlength') && f.submitted">username must be at least 3 characters long</p>
      <p *ngIf="registrationForm.get('username').hasError('maxlength') && f.submitted">username can't be longer than 25 characters</p>
      <p *ngIf="registrationForm.get('username').hasError('unavailable') && f.submitted">username is already taken</p>
    </div>

    <div class="form-group">
      <!-- {{ registrationForm.get('password').errors | json }} -->
      <label>Password</label> <br>
      <input class="form-control" formControlName="password" type="password">
      <p *ngIf="registrationForm.get('password').hasError('required') && f.submitted">password password required</p>
      <p *ngIf="registrationForm.get('password').hasError('minlength') && f.submitted">password must be at least 8 characters long</p>
      <p *ngIf="registrationForm.get('password').hasError('maxlength') && f.submitted">password can't be longer than 25 characters</p>
    </div>

    <div class="form-group">
      <label>confirm password</label> <br>
      <input class="form-control" formControlName="passwordConfirm" type="password">
      <p *ngIf="registrationForm.get('passwordConfirm').hasError('required') && f.submitted">password confirmation required</p>
      <p *ngIf="registrationForm.hasError('passwordConfirmed')==false && f.submitted">passwords don't match</p>

    </div>

    <input class="btn btn-primary" type="submit" name="" value="Create Your Account">

    <div class="container"><br><br>
      <h4>Users List</h4> 

      <h5 *ngFor="let user of users">
        <li> {{ user.username }} </li>
      </h5>

    </div>

    <!-- {{ registrationForm.errors | json }} -->

  </div>

</form>
