<h2>Create a New Account</h2>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit(f)" #f=ngForm >
  <div class="form">

    <div class="field">
      <!-- {{ registrationForm.get('username').errors | json }} -->
      <label>username</label> <br>
      <input formControlName="username">
      <p *ngIf="registrationForm.get('username').hasError('required') && f.submitted">username required</p>
      <p *ngIf="registrationForm.get('username').hasError('minlength') && f.submitted">username must be at least 3 characters long</p>
      <p *ngIf="registrationForm.get('username').hasError('maxlength') && f.submitted">username can't be longer than 25 characters</p>
      <p *ngIf="registrationForm.get('username').hasError('unavailable') && f.submitted">username is already taken</p>
    </div>

    <div class="field">
      <!-- {{ registrationForm.get('password').errors | json }} -->
      <label>password</label> <br>
      <input formControlName="password" type="password">
      <p *ngIf="registrationForm.get('password').hasError('required') && f.submitted">password password required</p>
      <p *ngIf="registrationForm.get('password').hasError('minlength') && f.submitted">password must be at least 8 characters long</p>
      <p *ngIf="registrationForm.get('password').hasError('maxlength') && f.submitted">password can't be longer than 25 characters</p>
    </div>

    <div class="field">
      <label>confirm password</label> <br>
      <input formControlName="passwordConfirm" type="password">
      <p *ngIf="registrationForm.get('passwordConfirm').hasError('required') && f.submitted">password confirmation required</p>
      <p *ngIf="registrationForm.hasError('passwordConfirmed')==false && f.submitted">passwords don't match</p>

    </div>

    <!-- {{ registrationForm.errors | json }} -->

  </div>

  <input type="submit" name="" value="Create Your Account">


</form>

<h3>Users List</h3> (Just showing for testing purposes)

<h5 *ngFor="let user of users">
  <a routerLink="/users/{{ user.id }}"> {{ user.username }} </a>
</h5>
