

<!-- <ul class="tasks">
    <li *ngFor="let task of tasks" >
        <span class = "badge">{{task.id}}</span> {{task.title}}  <span class="badge-isCompleted">   Completed : {{task.completed}}</span>            <span class="badge-date">{{task.createdOn}}</span>
        <button [class.selected]="task===selectedTask" (click)="onSelect(task)" (click)="updateTask($event)" class="button">Update</button > <button (click)="delete(task)">Delete</button>
    </li>
  </ul> -->
<!-- the line bellow is used for the child component property binding(it is one way data binding) -->
  <app-task-detail [(task)]="selectedTask"> </app-task-detail>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Id </th>
            <th>Title</th>
            <th>Completed</th>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tasks">
            <td>{{item.id}}</td>
            <td><span [ngClass]="setClasses(item)">{{ item.title }}</span></td>
            <td><input (change)="onToggle(item)" type="checkbox" [checked]="item.completed" /></td>
            <td>{{item.createdOn}}</td>
            <td><button [class.selected]="item===selectedTask" (click)="onSelect(item)" (click)="updateTask($event)" class="button">Update</button ></td>
            <td><button class="btn btn-success" (click)="delete(item)">Delete</button></td>
        </tr>
    </tbody>
  </table>
