/* HeroesComponent's private CSS styles */
.tasks {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
   /* width: 15em;*/
  }
  .tasks li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .tasks li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .tasks li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .tasks li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .tasks .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .tasks .badge-date {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#63bd93;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .tasks .badge-isCompleted {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#b19a33;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .tasks .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
  }
 .tasks .button:hover {background-color: #054403;}

 .item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.is-complete {
  text-decoration: line-through;
}
